html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title Krystal's App
    link(rel='stylesheet',href='/css/index.css')

  body
    div
      input(type='text',placeholder='Search...')
      button(id='search-btn') MAKE IT SO
    script(src="/js/index.js") 